In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('petrol_consumption.csv')
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [3]:
df.shape

(48, 5)

In [4]:
df.isnull().sum()

Petrol_tax                      0
Average_income                  0
Paved_Highways                  0
Population_Driver_licence(%)    0
Petrol_Consumption              0
dtype: int64

In [5]:
df.dtypes

Petrol_tax                      float64
Average_income                    int64
Paved_Highways                    int64
Population_Driver_licence(%)    float64
Petrol_Consumption                int64
dtype: object

In [6]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]
print(x.shape)
print(y.shape)
print(type(x))
print(type(y))

(48, 4)
(48,)
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [7]:
x.head()

   Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572
2         9.0            3865            1586                         0.580
3         7.5            4870            2351                         0.529
4         8.0            4399             431                         0.544

In [8]:
y.head()

0    541
1    524
2    561
3    414
4    410
Name: Petrol_Consumption, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(36, 4)
(12, 4)
(36,)
(12,)

In [11]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [12]:
def gen_metrics(ytest,ypred):
    mse = mean_squared_error(ytest,ypred)
    rmse = np.sqrt(mean_squared_error(ytest,ypred))
    mae = mean_absolute_error(ytest,ypred)
    r2s = r2_score(ytest,ypred)
    print('MSE',mse)
    print('RMSE',rmse)
    print('MAE',mae)
    print('R2_Score',r2s)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
m1 = LinearRegression()
m1.fit(x_train,y_train)

LinearRegression()

In [15]:
print('Training Score',m1.score(x_train,y_train))
print('Testing Score',m1.score(x_test,y_test))

Training Score 0.6989276241929955
Testing Score 0.40235094302310503

In [16]:
ypred_m1 = m1.predict(x_test)
print(ypred_m1)

[655.16105986 628.3831134  605.50437394 498.47598581 573.75867978
 511.78133889 642.53227397 578.52760871 561.03672376 565.4261537
 608.50501878 449.78299909]

In [17]:
gen_metrics(y_test,ypred_m1)

MSE 2311.818611584813
RMSE 48.08137489282948
MAE 41.578018529094855
R2_Score 0.40235094302310503